<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.ftpclient"
    version="1.0.0">
    <name>FtpClient</name>
    <description>Cordova FtpClient Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ftp</keywords>
	
	<asset src="www/js" target="js" />

    <js-module src="www/js/ftpclient.js" name="FtpClient">
        <clobbers target="ftpclient" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FtpClient">
                <param name="android-package" value="com.phonegap.plugins.ftpclient.FtpClient"/>
            </feature>
        </config-file>

        <source-file src="src/com/phonegap/plugins/ftpclient/FtpClient.java" target-dir="src/com/phonegap/plugins/ftpclient" />
     </platform>
</plugin>